@import "./reset.scss";
@import "./typography.scss";

// layout
// container is grid
.section{
    display: flex;
    justify-content: center;
}

.grid{
    display: grid;
    grid-template-columns:repeat(6, 1fr);
    // align-items: center;
    width: 100%;
    max-width: 1200px;
    gap: 32px;
    row-gap: 0px;
    padding: 0px 96px;
}

a{
    text-decoration: underline;
    &:hover{
        text-decoration: unset;
    }
}

nav a {
    text-decoration: unset;
    &:hover{
    text-decoration: underline;
    }
}

body{
    color:#0E0D0D;
    .card{
        background: #F7F3F0;
        border: 2px solid;
        box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.75);
        border-radius: 8px;
    }
}

body.dark{
    background: #1E1E1E;
    color: #FFFFFF;

    .card{
        background: #272424;
        box-shadow: unset;
        border-color:transparent;
        .cover{
            background: #484440;
        }
    }

    .screen{
        border-color: transparent;
    }
    header{
        background: #1E1E1E;
    }
}


body{
    display: unset !important;
}

@media (max-width: 1024px) {
    body{
        background: red;
    }
}

