@import "./reset.scss";
@import "./typography.scss";

// layout
// container is grid
.section{
    display: flex;
    justify-content: center;
}

.grid{
    display: grid;
    grid-template-columns:repeat(6, 1fr);
    align-items: center;
    width: 100%;
    max-width: 1200px;
    gap: 32px;
    padding: 0px 96px;
}

a{
    text-decoration: underline;
    
    &:hover{
        text-decoration: unset;
    }
}

body{
    color:#0E0D0D;
    .card{
        background: #F7F3F0;
    }
}

body.dark{
    background: #1E1E1E;
    color: #FFFFFF;

    .card{
        background: #272424;
        box-shadow: unset;

        .cover{
            background: #484440;
        }
    }

    .screen{
        border-color: transparent;
    }
}