@font-face {
    font-family: 'GeneralSans';
    src: url('../../public/assets/fonts/GeneralSans-Variable.woff2') format('woff2'),
         url('../../public/assets/fonts/GeneralSans-Variable.woff') format('woff'),
         url('../../public/assets/fonts/GeneralSans-Variable.ttf') format('truetype');
         font-weight: 200 400 500 700;
         font-display: swap;
         font-style: normal;
}

html, p, a{
    font-family: "GeneralSans";
    font-size: 24px;
    font-weight: 400;
    line-height: 180%;
}

h1{
    font-size: 44px;
    font-weight: 500;
    margin-bottom: 32px;
    line-height: 160%;
}

a{
    font-weight: 500;
    font-size: 20px;
}